.btn-black, .btn-blue, .btn-white {
    background: rgb(36, 36, 36);

    border: none;
    border-radius: 25px;

    width: 230px;
    height: 50px;

    font-size: 14pt;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.3s;
}

.btn-blue {
    background-color: rgb(24, 88, 134);
}

.btn-white {
    background-color: #fafafa;
    color: rgb(36, 36, 36);
}

.btn-black:hover, .btn-blue:hover, .btn-white:hover {
    cursor: pointer;

    background: #fafafa;
    
    color: rgb(36, 36, 36);
    font-weight: 400;

    margin: -5px 0px 5px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white:hover {
    color: #fafafa;
    background-color: rgba(26, 26, 26, 0.85);
}

.btn-small {
    width: 200px;
    height: 40px;

    font-size: 14pt;
}

.btn-vsmall {
    width: 156px;
    height: 40px;

    font-size: 14pt;
}


.left {
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    position: relative;
}

.section-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;

    margin: 10px 0px 0px 0px;
}





.cover-ani {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: animateCover;
    animation-timing-function: linear;
}
.cover-ani-rev {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: animateCover-reverse;
    animation-timing-function: linear;
}

.cover-ani2 {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: animateCover2;
    animation-timing-function: linear;
}
.cover-ani2-rev {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: animateCover2-reverse;
    animation-timing-function: linear;
}

.main-ani {
    animation: 0.3s animateCover both linear;
    animation-play-state: running;
    animation-direction: reverse;
}
.main-ani-rev {
    animation: 0.3s animateCover-reverse both linear;
    animation-play-state: running;
    animation-direction: reverse;
}

@keyframes animateCover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animateCover-reverse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes animateCover2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}
@keyframes animateCover2-reverse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}