@keyframes fly {
    0% {
        rotate: 45deg;
        top: 0px;
        left: 0px;
    }
    40% {
        rotate: 90deg;
        top: -30px;
        left: 100px;
    }
    80% {
        rotate: 135deg;
        top: 0px;
        left: 200px;
    }
    100% {
        rotate: 45deg;
        top: 0px;
        left: 200px;
    }
}